<h1>Enter Data to Retrieve Account</h1>
<form action="/users/reset-password" method="POST">
    <input type="email" name = "email" required placeholder="Enter your Email">
    <input type="submit" value="Reset">

</form>