<h1>Verification</h1>
<form action="/users/verification" method="POST">
    <input type="number" name = "otp" required placeholder="Enter OTP received on your Email">
    <input type="submit" value="check">

</form>